<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/pageTitle :: pageTitle ('PROJECTS')"></div>

<br><br>

<div class="container" id="main">

    <form v-on:submit.prevent="postProject">
        <div class="card mb-auto">
            <div aria-controls="projectForm" aria-expanded="false" class="card-header" data-target="#projectForm" data-toggle="collapse" id="formHeader" style="cursor: pointer">
                <div class="float-left">Create new project</div>
                <div class="float-right">+</div>
            </div>
            <div class="card card-body collapse" id="projectForm">
                <div class="form-group row">
                    <label for="projectName" class="col-sm-4 col-form-label form-control-lg">Project name</label>
                    <input id="projectId" type="hidden" v-model="projectId">
                    <input id="projectName" class="form-control col-sm-8 form-control-lg" placeholder="Type the desired project name..." type="text" v-model="projectName"/>
                </div>
                <div class="form-group row">
                    <label for="projectShortName" class="col-sm-4 col-form-label form-control-lg">Project short name</label>
                    <input id="projectShortName" class="form-control col-sm-8 form-control-lg" placeholder="Type the desired short name..." type="text" v-model="projectShortName"/>
                </div>
                <div class="form-group row">
                    <label for="projectDescription" class="col-sm-4 col-form-label form-control-lg">Project description</label>
                    <input id="projectDescription" class="form-control col-sm-8 form-control-lg" placeholder="Type the desired description..." type="text" v-model="projectDescription"/>
                </div>
                <div class="form-group row">
                    <label for="projectStatusName" class="col-sm-4 col-form-label form-control-lg">Project status</label>
                    <select name="projectStatusName" id="projectStatusName" v-model="projectStatusName">
                        <option disabled value="">Select status</option>
                        <option :selected="status.statusName == projectStatusName" v-bind:value="status.statusName" v-for="status in statuses">{{ status.statusName }}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col col-sm-4"></div>
                    <input class="btn btn-primary col col-sm-8" type="submit" value="Save changes">
                </div>
            </div>
        </div>
    </form>

    <br><br>

    <table class="table table-striped table-dark table-bordered table-hover">
        <thead class="thead-dark">
        <tr align="center">
            <th>ID</th>
            <th>Project Name</th>
            <th>Project Short Name</th>
            <th>Project Description</th>
            <th>Project Status</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" v-for="project in projects">
            <td>{{ project.projectId }}</td>
            <td>{{ project.projectName }}</td>
            <td>{{ project.projectShortName }}</td>
            <td>{{ project.projectDescription }}</td>
            <td>{{ project.projectStatusName }}</td>
            <td align="center">
                <button class="btn btn-success" v-on:click="editProject(project)">Modify</button>
                <button class="btn btn-warning" v-on:click="deleteProject(project)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br><br>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>A simple bug tracking application made by Serban Smaranda. Find me on <a href="https://www.linkedin.com/in/serban-costin-smaranda-b69993159/">LinkedIn</a>/<a href="https://www.facebook.com/serban.smaranda">Facebook</a>, or GitHub in the navbar.</p>
    </div>
</footer>

<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                projects: '',
                statuses: '',
                projectId: '',
                projectName: '',
                projectShortName: '',
                projectDescription: '',
                projectStatusName: ''
            }
        },
        mounted() {
            this.getProjects();
        },
        methods: {
            getProjects: function () {
                console.log('Returning projects, please wait...');
                axios.get("/api/v1/projects").then(response => (this.projects = response.data));
                axios.get("/api/v1/statuses").then(response => (this.statuses = response.data))
            },
            editProject: function (project) {
                this.projectId = project.projectId;
                this.projectName = project.projectName;
                this.projectShortName = project.projectShortName;
                this.projectDescription = project.projectDescription;
                this.projectStatusName = project.projectStatusName;
                document.getElementById('projectForm').setAttribute("class", document.getElementById('projectForm').getAttribute("class") + " show");
            },
            postProject: function (project) {
                if (this.projectId == '' || this.projectId == null) {
                    axios.post("api/v1/add-new-project", {
                        "projectId": this.projectId,
                        "projectName": this.projectName,
                        "projectShortName": this.projectShortName,
                        "projectDescription": this.projectDescription,
                        "projectStatusName": this.projectStatusName
                    }).then(savedProject => {
                        this.projects.push(savedProject.data)
                        this.projectName = '';
                        this.projectShortName = '';
                        this.projectDescription = '';
                        this.projectStatusName = '';
                    })
                    console.log('Your new item was added.');
                } else {
                    axios.put("api/v1/update-project/" + this.projectId, {
                        "projectId": this.projectId,
                        "projectName": this.projectName,
                        "projectShortName": this.projectShortName,
                        "projectDescription": this.projectDescription,
                        "statusName": this.projectStatusName
                    }).then(editedProject => {
                        this.getProjects();
                        this.projectId = '';
                        this.projectName = '';
                        this.projectShortName = '';
                        this.projectDescription = '';
                        this.projectStatusName = '';
                    })
                    console.log('The project was updated.');
                }
            },
            deleteProject: async function (project) {
                await axios.delete("api/v1/project/" + project.projectId);
                this.getProjects();
                console.log('The project was deleted.')
            }
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>